body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 30px;
}

.react-logo {
    width: 40px;
    height: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1em;
    font-size: large;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

